<html>
<title>Login</title>
<head><link rel="stylesheet" type="text/css" href="static/rainbow_txt.css"></head> 

<style type="text/css">
	h1 {
		font-size: 250%;
	}
	h2 {
		font-size: 100%;
	}
	h3 {
		font-size: 200%
	}
	h4 {
		font-size: 150%
	}
	body {
		background-color: rgba(0, 241, 209) 
	}
</style>
<body background="static/bava.jpg">
		<h1>
				<center>
					<span class="rainbow">National Public School, Rajajinagar</span>
				</center></h1>
			<h1>
				<center>
					<span class="rainbow">Entrepreneurship 2017-18</span>
				</center>
			</h1>
			<center>
					<fieldset>
							<legend><h4>Sign In</h4></legend>
							<form action=/login method="POST">
							  Team: <input type="text" name="username"><br>
							  Password:<input type="password" name="password"><br>
							 <br><br>
							 <input type="submit" value="Take me In">
						</fieldset>
			</center>
			 </form>
			 <br>
			 <h2><strong>Username is the Team Name. Password is the treasurer name.</strong></h2>
</body>

</html>