<html>
<title>
	New Bill
</title>


<head><link rel="stylesheet" type="text/css" href="static/rainbow_txt.css"></head> 

<body background="static/bava.jpg">

	<style type="text/css">
	h1 {
		font-size: 250%;
	}
	h2 {
		font-size: 100%;
	}
	h3 {
		font-size: 200%
	}
	h4 {
		font-size: 150%
	}
	</style>

	<h1>
		<center>
			<span class="rainbow">National Public School, Rajajinagar</span>
		</center></h1>
	<h1>
		<center>
			<span class="rainbow">Entrepreneurship 2017-18</span>
		</center>
	</h1>

	<h3>
			<center>
				<span class="rainbow">Bill details</span>
			</center>
	</h3>
<center>
<br>
<br>
{{bill|safe}}
<button><a href="newbill">Create New Bill</a></button><br><br>
<button><a href="viewbill">View Bill</a></button><br><br>
<button><a href="logout">Logout</a></button>
</center>
</body>
</html>