<html>

<title>Profit Board</title>

<head><link rel="stylesheet" type="text/css" href="rainbow_txt.css"></head>

<style type="text/css">
	h1 {
		font-size: 250%
	}</style>

<style type="text/css">
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2}

    th {
        background-color: #4CAF50;
        color: white;
    }

    td {
        padding: 15px;
        text-align: left;
    } </style>

<h1>
	<center>
		<span class="rainbow">Current Standings</span>
	</center></h1>

<br><br>

<table>
	<tr>
		<th><strong>Team</strong></th>
		<th><strong>Profit</strong></th>
	</tr>
	<tr>
		<td>High Shapers</td>
		<td>0</td>
	</tr>
	<tr>
		<td>High Shapers</td>
		<td>0</td>
	</tr>
	<tr>
		<td>High Shapers</td>
		<td>0</td>
	</tr>
	<tr>
		<td>High Shapers</td>
		<td>0</td>
	</tr>
	<tr>
		<td>High Shapers</td>
		<td>0</td>
	</tr>
	<tr>
		<td>High Shapers</td>
		<td>0</td>
	</tr>
	<tr>
		<td>High Shapers</td>
		<td>0</td>
	</tr></table>

</html>