<html>
<title>
	View Bill
</title>


<head><link rel="stylesheet" type="text/css" href="static/rainbow_txt.css"></head> 

<body background="static/bava.jpg">

	<style type="text/css">
	h1 {
		font-size: 250%;
	}
	h2 {
		font-size: 100%;
	}
	h3 {
		font-size: 200%
	}
	h4 {
		font-size: 150%
	}
	</style>

	<h1>
		<center>
			<span class="rainbow">National Public School, Rajajinagar</span>
		</center></h1>
	<h1>
		<center>
			<span class="rainbow">Entrepreneurship 2017-18</span>
		</center>
	</h1>

	<h3>
			<center>
				<span class="rainbow">View Bill</span>
			</center>
	</h3>
<center>
<form action=/viewbill method="POST">
   Bill number <input type="text" name="billnumber"><br><br>
 <center><button>View Bill</button></center></form></body>
 <form>
</html>